body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@media (min-width: 768px) {
  .form-group.row > .col-form-label {
    text-align: right;
  }
}

.img-fluid {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.tooltip-inner {
  background-color: #4E5D6C !important;
  color: #fff;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #4E5D6C;
}

.bs-tooltip-right .arrow::before {
  border-right-color: #4E5D6C;
}


