extends layout

block content
  #banner.mt-4.mb-4.pb-2.border.border-dark.border-top-0.border-right-0.border-left-0
    .row
      .col-md-6.col-sm-12
        h1= title
  .row  
    .col-md-6.col-sm-12
      p !{(content).replace(/\n/g, '<br/>')}