mixin outputRating(rating)
  - for (var i = 1; i <= rating; i++)
    i.fas.fa-star.fa-xs
  - for (var i = rating; i < 5; i++)
    i.far.fa-star.fa-xs
    
mixin formatDate(dateString)
  - var date = new Date(dateString);
  - var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  - var d = date.getDate();
  - var m = monthNames[date.getMonth()];
  - var y = date.getFullYear();
  - var output = d + ' ' + m + ' ' + y;
  = output